// PARTIALS
@import 'partials/reset';

// VARIABLES
$primary-color: brown;
$font-color: lighten($primary-color, 50%);
$content-background: lighten($primary-color, 20%);



// MIXINS
$breakpoints: (
  'medium': 600px,
  'large':  800px
) !default;

@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media only screen and (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

/* STYLES */
html, body {
  height: 100%;
  min-height: 100%;
}

body {
  background: $content-background;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

input {
  border: 1px solid black;
}

button {
  color: $font-color;
  background-color: $content-background;
  border: 1px solid black;
  padding: 5px;
}

.thinFont {
  font-weight: 100;
}

#addBar {
  background-color: $primary-color;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  padding: 10px;
  text-align: center;

  display: flex;
  flex-flow: row nowrap;
}

#title {
  display: none;
  text-decoration: none;

  @include respond-to('large') {
    font-size: 30px;
    color: $font-color;
    flex: 1 1 auto;
    display: initial;
    text-align: left;
  }
}

#name, #description {
  flex: 0 1 45%;
  margin-right: 10px;

  @include respond-to('medium') {
    flex: 0 1 35%;
  }

  @include respond-to('large') {
    flex: 0 1 10%;
  }
}

#symbolAdd {
  flex: 0 1 5%;
  margin-right: 5px;
  @include respond-to('medium') {
    display: none;
  }
}

#textAdd {
  display: none;
  @include respond-to('medium') {
    flex: 0 1 30%;
    display: inline;
  }
  @include respond-to('large') {
    flex: 0 1 20%;
  }
}



#content {
  color: $font-color;
  margin: 0px auto;
  margin-top: 50px;
  background: $content-background;
  min-height: 100%;

  @include respond-to('large') {
    min-height: 100%;
    width: 80%;
  }

  ul li {
    margin: 10px;
    border-bottom: 1px solid $primary-color;
    display: flex;
    flex-flow: row nowrap;
    padding: 5px;
  }
}

.checkboxDiv {
  flex: 0 0 5%;
  text-align: center;
}

.infoDiv {
  flex: 0 1 75%;
  width: 75%;
  word-wrap: break-word;
  padding-left: 10px;

  .thinFont {
    word-wrap: break-word;

  }
}


.removeDiv {
  flex: 0 0 20%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: flex-start;
}


#empty {
  padding: 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}